{% extends 'base.html' %}

{% block content %}
<div class="container" style="font-size: 20px; font-family: 'Merienda', cursive;  padding-top: 40px;">
    <div class="my-pitches mb-5 mt-5"
        style="box-shadow: 0 7px 8px 0 rgba(27, 134, 125, 0.8), 0 10px 10px 0 rgba(29, 155, 113, 0.8); margin-top: 10px;margin: 10px;">
        <h3 class="text-center mt-5">About My Blog</h3>
        <hr>
        <h4 class="text-center mb-5 mt-5 pt-3 pb-5">This is a personal blogging website where you can create and share
            your opinions and other users can read and comment on them.  It also displays random quotes on the site from famous people who write to inspire the world.</h4>

    </div>
</div>
{% endblock %}